# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl

# Virtual environments
.venv/
env/
venv/

# Build artifacts (PyInstaller, py2exe, cx_Freeze) 
build/
dist/
*.spec

# IDE files
.vscode/
.idea/

# Logs
*.log

# Temporary / cache folders
.cache/
tmp/
temp/

# OCR / Tesseract
tessdata/*
!tessdata/eng.traineddata 

# Generated data 
*.txt~
*.tmp
